---
import ThemeToggle from './ThemeToggle.astro';
---
<header class="site">
  <div class="header-inner">
    <a href="/" class="wordmark">agentlanguages<span class="dot">.</span>dev</a>
    <nav class="primary">
      <a href="/#camps">Camps</a>
      <a href="/#catalogue">Catalogue</a>
      <a href="/#about">About</a>
      <a href="https://github.com/aallan/agentlanguages/blob/main/CONTRIBUTING.md">Submit</a>
      <ThemeToggle />
    </nav>
  </div>
</header>
